Repository Alfresco/alfresco-ng2-components, pull requests merged in 2018-09, with the labels that each got.

#3755 Fixing failing tests for Document List - Actions
  e2e/content-services/document_list_actions.e2e.ts
  e2e/pages/adf/contentServicesPage.js
  e2e/resources/apps/App.zip
Labels: e2e

#3758 Fixing tests for Notifications component
  e2e/content-services/notifications_component.e2e.ts
  e2e/pages/adf/notificationPage.js
Labels: e2e

#3759 Fixing tests for Search Page
  e2e/content-services/search_page_component.e2e.ts
  e2e/pages/adf/dialog/contentList.js
  e2e/pages/adf/searchResultsPage.js
Labels: e2e

#3760 Stabilising tests for Search - Multiselect
  e2e/content-services/search_multiselect.e2e.ts
Labels: e2e

#3708 [ADF-3378] Create automated tests for comments - Content Services PT2
  e2e/content-services/comments/comment_component.e2e.ts
  e2e/pages/adf/commentsPage.ts
Labels: e2e

#3706 [ADF-3481] Updated automated tests for attach form component
  e2e/pages/adf/process_services/attachFormPage.ts
  e2e/process-services/attach_form_component.e2e.ts
Labels: e2e

#3640 [ADF-3237] Task Details - Create a way to change and remove a form (e2e)
  e2e/pages/adf/process_services/taskDetailsPage.js
  e2e/process-services/task_details_form.e2e.ts
Labels: e2e

#3773 [ADF-3535] Create automated test for Unshared file
  e2e/content-services/unshare_file.e2e.ts
  e2e/pages/adf/contentServicesPage.js
  e2e/pages/adf/dialog/shareDialog.ts
Labels: e2e

#3774 [ADF-3498] Automated tests for Permissions - Search
  demo-shell/src/app/components/permissions/demo-permissions.component.html
  e2e/content-services/permissions_component.e2e.ts
  e2e/pages/adf/permissionsPage.ts
Labels: e2e

#3764 [ADF-2996] Automated test for Process List - Sorting + fixing some details
  e2e/pages/adf/process_services/processFiltersPage.js
  e2e/process-services/processlist_pagination.e2e.ts
Labels: e2e

#3724 [ADF-3335] Added automation tests for task filter sorting
  e2e/pages/adf/process_services/dialog/startTaskDialog.js
  e2e/pages/adf/process_services/taskDetailsPage.js
  e2e/pages/adf/process_services/taskFiltersPage.js
  e2e/pages/adf/process_services/tasksListPage.js
  e2e/process-services/task_filters_component.e2e.ts
  e2e/process-services/task_filters_sorting.e2e.ts
Labels: e2e

#3747 [ADF-2921] New Icon for Smart Folders
  lib/content-services/document-list/data/share-datatable-adapter.spec.ts
  lib/content-services/document-list/data/share-datatable-adapter.ts
  lib/content-services/document-list/models/document-library.model.ts
  lib/content-services/mock/document-library.model.mock.ts
  lib/core/assets/images/ft_ic_smart_folder.svg
  lib/core/services/thumbnail.service.ts
Labels: Failing tests, change requested

#3792 [ADF-3558] Fixing failing test for unshare file
  e2e/content-services/unshare_file.e2e.ts
  e2e/pages/adf/dialog/shareDialog.ts
Labels: Failing tests

#3825 [ADF-3594] Create automated test for Show more/less button on Tag page
  e2e/content-services/tag_component.e2e.ts
  e2e/pages/adf/tagPage.js
Labels: e2e

#3821 [ADF-3584][ADF-3583]Add tests for Process Filters and Task Filters ic…
  e2e/pages/adf/core/toggleState.js
  e2e/pages/adf/dialog/uploadToggles.js
  e2e/pages/adf/process_services/dialog/appSettingsToggles.js
  e2e/pages/adf/process_services/processFiltersPage.js
  e2e/pages/adf/process_services/taskDetailsPage.js
  e2e/pages/adf/process_services/taskFiltersPage.js
  e2e/process-services/custom_process_filters.e2e.ts
  e2e/process-services/start_task_custom_app.e2e.ts
  e2e/process-services/start_task_task_app.e2e.ts
  e2e/process-services/task_filters_component.e2e.ts
Labels: e2e

#3820 [ADF-3563] Automated test for Show More - Less button in Search Filters
  e2e/content-services/search/search_filters.e2e.ts
  e2e/pages/adf/searchFiltersPage.js
Labels: e2e

#3822 [ADF-3587] Fixed doc comment problems
  docs/content-services/document-list.component.md
  docs/content-services/document-list.service.md
  docs/content-services/file-draggable.directive.md
  docs/content-services/upload-drag-area.component.md
  docs/core/accordion-group.component.md
  docs/core/form.component.md
  docs/core/infinite-pagination.component.md
  docs/core/node-restore.directive.md
  docs/core/viewer.component.md
  docs/process-services/task-list.component.md
  lib/content-services/document-list/components/document-list.component.ts
  lib/content-services/document-list/services/document-list.service.ts
  lib/content-services/upload/components/base-upload/upload-base.ts
  lib/content-services/upload/components/upload-drag-area.component.ts
  lib/content-services/upload/directives/file-draggable.directive.ts
  lib/core/directives/node-restore.directive.ts
  lib/core/form/components/form.component.ts
  lib/core/form/components/widgets/widget.component.ts
  lib/core/form/services/form.service.ts
  lib/core/pagination/infinite-pagination.component.ts
  lib/core/viewer/components/viewer.component.ts
  lib/process-services/task-list/components/task-list.component.ts
  tools/doc/SourceInfoClasses.js
  tools/doc/SourceInfoClasses.ts
  tools/doc/yamlTemplates/propSyntaxSection.ejs
  tools/doc/yamlTemplates/property.ejs
  tools/doc/yamlTemplates/template.ejs
Labels: documentation

#3834 [ADF-3596]Create automated tests for start process
  e2e/pages/adf/process_services/startProcessPage.js
  e2e/process-services/start_process_component.e2e.ts
  e2e/util/resources.js
  lib/process-services/process-list/components/start-process.component.html
Labels: e2e
