Repository Alfresco/alfresco-ng2-components, pull requests merged in 2018-10, with the labels that each got.

#3850 [ADF-3564] Added brief docs for viewer printing feature
  docs/core/viewer.component.md
Labels: documentation

#3843 [ADF-3610] fix pdf worker memory leak
  lib/core/viewer/components/pdfViewer.component.spec.ts
  lib/core/viewer/components/pdfViewer.component.ts
  lib/core/viewer/components/viewer.component.spec.ts
Labels: Failing tests

#3892 [ADF-3682] Review of main README and other information pages
  ALFRESCOCORS.md
  BROWSER-SUPPORT.md
  CONTRIBUTING.md
  INTRODUCTION.md
  PREREQUISITES.md
  README.md
Labels: documentation

#3905 [ADF-3692] Add task details tests
  e2e/models/APS/TaskModel.js
  e2e/pages/adf/process_services/taskDetailsPage.ts
  e2e/process-services/start_task_custom_app.e2e.ts
  e2e/process-services/start_task_task_app.e2e.ts
  e2e/process-services/task_details.e2e.ts
  e2e/util/constants.js
Labels: e2e

#3880 [ADF-3652][ADF-3653] Automated tests for people widget
  e2e/pages/adf/process_services/processDetailsPage.js
  e2e/pages/adf/process_services/taskDetailsPage.ts
  e2e/pages/adf/process_services/taskFiltersPage.js
  e2e/pages/adf/process_services/widgets/people.ts
  e2e/pages/adf/process_services/widgets/widget.ts
  e2e/process-services/form_people_widget.e2e.ts
  e2e/resources/apps/appWithUser.zip
  e2e/util/resources.js
Labels: e2e

#3889 [ADF-3644] Automated test for search filters collapse
  e2e/content-services/search/search_filters.e2e.ts
  e2e/pages/adf/searchFiltersPage.ts
Labels: e2e

#3897 [ADF-3017]Update app
  e2e/process-services/apps-section.e2e.ts
  e2e/util/constants.js
  e2e/util/resources.js
  package-lock.json
  package.json
Labels: e2e

#3913 [ADF-3681] Fixing skipped tests
  e2e/actions/drop.actions.ts
  e2e/content-services/document-list/document_list_pagination.e2e.ts
  e2e/content-services/upload/uploader_component.e2e.ts
  e2e/core/theming_component.e2e.ts
  e2e/pages/adf/contentServicesPage.ts
  e2e/pages/adf/process_services/processDetailsPage.js
  e2e/process-services/start_process_component.e2e.ts
Labels: e2e

#3918 [ADF-3477]Added a test for task details- no form
  e2e/pages/adf/process_services/taskDetailsPage.ts
  e2e/process-services/Task_details_no_form.e2e.ts
  e2e/process-services/standalone_task.e2e.ts
  e2e/resources/apps/No form app.zip
  e2e/util/resources.js
Labels: e2e

#3923 [ADF-3465]Added a check to formName field from task details after the form was …
  e2e/process-services/task_details_form.e2e.ts
Labels: e2e

#3911 [ADF-3671] Add automation tests for Form Widgets
  e2e/actions/APS/apps.actions.ts
  e2e/pages/adf/process_services/formFields.js
  e2e/pages/adf/process_services/taskDetailsPage.ts
  e2e/pages/adf/process_services/tasksPage.ts
  e2e/pages/adf/process_services/widgets/Amount.ts
  e2e/pages/adf/process_services/widgets/Date.ts
  e2e/pages/adf/process_services/widgets/Number.ts
  e2e/pages/adf/process_services/widgets/amountWidget.ts
  e2e/pages/adf/process_services/widgets/attachFileWidget.ts
  e2e/pages/adf/process_services/widgets/checkboxWidget.ts
  e2e/pages/adf/process_services/widgets/containerWidget.ts
  e2e/pages/adf/process_services/widgets/dateTimeWidget.ts
  e2e/pages/adf/process_services/widgets/dateWidget.ts
  e2e/pages/adf/process_services/widgets/displayTextWidget.ts
  e2e/pages/adf/process_services/widgets/displayValueWidget.ts
  e2e/pages/adf/process_services/widgets/documentWidget.ts
  e2e/pages/adf/process_services/widgets/dropdownWidget.ts
  e2e/pages/adf/process_services/widgets/dynamicTableWidget.ts
  e2e/pages/adf/process_services/widgets/headerWidget.ts
  e2e/pages/adf/process_services/widgets/hyperlinkWidget.ts
  e2e/pages/adf/process_services/widgets/multilineTextWidget.ts
  e2e/pages/adf/process_services/widgets/numberWidget.ts
  e2e/pages/adf/process_services/widgets/people.ts
  e2e/pages/adf/process_services/widgets/peopleWidget.ts
  e2e/pages/adf/process_services/widgets/radioButtonsWidget.ts
  e2e/pages/adf/process_services/widgets/textWidget.ts
  e2e/pages/adf/process_services/widgets/widget.ts
  e2e/process-services/dynamic_table_date_picker.e2e.ts
  e2e/process-services/form_component.e2e.ts
  e2e/process-services/form_widgets_component.e2e.ts
  e2e/process-services/widgets/amount_widget.e2e.ts
  e2e/process-services/widgets/attach_folder_widget.e2e.ts
  e2e/process-services/widgets/checkbox_widget.e2e.ts
  e2e/process-services/widgets/date_time_widget.e2e.ts
  e2e/process-services/widgets/date_widget.e2e.ts
  e2e/process-services/widgets/document_template_widget.e2e.ts
  e2e/process-services/widgets/dropdown_widget.e2e.ts
  e2e/process-services/widgets/dynamic_table_widget.e2e.ts
  e2e/process-services/widgets/header_widget.e2e.ts
  e2e/process-services/widgets/hyperlink_widget.e2e.ts
  e2e/process-services/widgets/multi_line_widget.e2e.ts
  e2e/process-services/widgets/number_widget.e2e.ts
  e2e/process-services/widgets/people_widget.e2e.ts
  e2e/process-services/widgets/radio_buttons_widget.e2e.ts
  e2e/process-services/widgets/text_widget.e2e.ts
  e2e/resources/apps/App_file_form.zip
  e2e/resources/apps/Test-ADF.zip
  e2e/resources/apps/WidgetApps.zip
  e2e/util/resources.js
  lib/core/form/components/widgets/core/form-field-types.ts
  lib/core/form/components/widgets/core/form-field-validator.ts
Labels: e2e

#3915 [ADF-3696] Create an automated test to cover the search filter buckets scenario
  e2e/content-services/search/search_filters.e2e.ts
  e2e/pages/adf/dialog/contentList.js
  e2e/pages/adf/paginationPage.js
  e2e/pages/adf/searchFiltersPage.ts
Labels: e2e

#3921 [ADF-3700] Create an automated test to cover the process placeholder
  e2e/pages/adf/process_services/startProcessPage.js
  e2e/process-services/start_process_component.e2e.ts
Labels: e2e
