Repository Alfresco/alfresco-ng2-components, pull requests merged in 2019-06, with the labels that each got.

#4802 [ADF-4577] - Should display the processId when Process Definition has process name missing
  e2e/process-services-cloud/start-process-cloud.e2e.ts
  e2e/resources/activiti7/simpleapp.zip
Labels: e2e

#4796 Enable tests and add a newly created user to run the tests.
  cspell.json
  demo-shell/src/app.config.json
  e2e/process-services-cloud/apps-section-cloud.e2e.ts
  e2e/process-services-cloud/edit-process-filters-component.e2e.ts
  e2e/process-services-cloud/edit-task-filters-component.e2e.ts
  e2e/process-services-cloud/people-group-cloud-component.e2e.ts
  e2e/process-services-cloud/people-group-cloud-filter-component.e2e.ts
  e2e/process-services-cloud/process-custom-filters.e2e.ts
  e2e/process-services-cloud/process-filters-cloud.e2e.ts
  e2e/process-services-cloud/process-header-cloud.e2e.ts
  e2e/process-services-cloud/process-list-selection-cloud.e2e.ts
  e2e/process-services-cloud/processList-cloud-component.e2e.ts
  e2e/process-services-cloud/start-process-cloud.e2e.ts
  e2e/process-services-cloud/start-task-custom-app-cloud.e2e.ts
  e2e/process-services-cloud/task-filters-cloud.e2e.ts
  e2e/process-services-cloud/task-form-cloud-component.e2e.ts
  e2e/process-services-cloud/task-header-cloud.e2e.ts
  e2e/process-services-cloud/task-list-properties.e2e.ts
  e2e/process-services-cloud/task-list-selection.e2e.ts
  e2e/process-services-cloud/tasks-custom-filters.e2e.ts
  e2e/resources/activiti7/candidatebaseapp.zip
  e2e/resources/activiti7/candidateuserapp.zip
  e2e/util/constants.js
  e2e/util/resources.js
  lib/testing/src/lib/core/actions/identity/identity.service.ts
  lib/testing/src/lib/core/actions/identity/tasks.service.ts
  lib/testing/src/lib/process-services-cloud/actions/process-definitions.service.ts
  scripts/check-env/check-activiti-env.js
  scripts/test-e2e-lib.sh
  scripts/travis/e2e/process-services-cloud-e2e.sh
Labels: e2e

#4814 [ADF-4618] RTL languages support documentation
  docs/user-guide/rtl-support.md
Labels: documentation

#4809 [ADF-4034]Add test for delete standalone task and cancelled process.
  e2e/process-services-cloud/tasks-custom-filters.e2e.ts
Labels: do not merge, e2e

#4708 [ADF-4462] - Should be possible to restore an old version of your file and the document list updated
  e2e/content-services/version/version-actions.e2e.ts
Labels: e2e

#4817 [ADF-4441] Save button should be disabled when form fields are invalid
  docs/process-services-cloud/components/form-cloud.component.md
  docs/process-services/components/form.component.md
  lib/core/form/components/form-base.component.ts
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.spec.ts
  lib/process-services/form/form.component.spec.ts
Labels: change requested

#4775 [ADF-4600] Should be able to filter groups based on composite roles
  e2e/process-services-cloud/people-group-cloud-component.e2e.ts
Labels: e2e

#4834 [ADF-4488] - FormCloud - Should be able to render a dropdown with a RestService bind
  e2e/pages/adf/demo-shell/process-services/taskDetailsCloudDemoPage.ts
  e2e/process-services-cloud/form-field/dropdown-widget.e2e.ts
  e2e/process-services-cloud/start-task-custom-app-cloud.e2e.ts
  e2e/process-services-cloud/task-form-cloud-component.e2e.ts
  lib/process-services-cloud/src/lib/task/task-form/components/task-form-cloud.component.html
  lib/testing/src/lib/core/pages/form/formFields.ts
  lib/testing/src/lib/core/pages/form/widgets/dropdownWidget.ts
  lib/testing/src/lib/process-services-cloud/pages/task-form-cloud-component.page.ts
  lib/testing/src/lib/process-services-cloud/pages/task-header-cloud-component.page.ts
Labels: e2e, waiting for review

#4826 [ADF-4288] -Sort Process Custom filters
  e2e/process-services-cloud/editProcessFilter.config.ts
  e2e/process-services-cloud/process-custom-filters.e2e.ts
  e2e/process-services-cloud/processList-cloud-component.e2e.ts
  e2e/process-services-cloud/processListCloud.config.ts
  e2e/resources/activiti7/candidatebaseapp.zip
  lib/testing/src/lib/process-services-cloud/pages/edit-process-filter-cloud-component.page.ts
Labels: e2e, waiting for review

#4846 [REGRESSION] [ADF-4661] Fix Start Process Cloud Layout
  lib/process-services-cloud/src/lib/process/start-process/components/start-process-cloud.component.html
Labels: regression

#4856 [ADF-4677] Make time ago use Angular Date formats
  lib/core/pipes/time-ago.pipe.ts
Labels: regression

#4616 'Testing' Moved Upload Actions to shared testing package
  e2e/content-services/comments/comment-component.e2e.ts
  e2e/content-services/directives/create-folder-directive.e2e.ts
  e2e/content-services/directives/download-directive.e2e.ts
  e2e/content-services/document-list/document-list-actions.e2e.ts
  e2e/content-services/document-list/document-list-component.e2e.ts
  e2e/content-services/document-list/document-list-copy-move.e2e.ts
  e2e/content-services/document-list/document-list-gallery.e2e.ts
  e2e/content-services/document-list/document-list-pagination.e2e.ts
  e2e/content-services/document-list/document-list-properties.e2e.ts
  e2e/content-services/document-list/document-list-thumbnails-tooltips.e2e.ts
  e2e/content-services/lock-file.e2e.ts
  e2e/content-services/metadata/aspect-oriented-config.e2e.ts
  e2e/content-services/metadata/metadata-permissions.e2e.ts
  e2e/content-services/metadata/metadata-properties.e2e.ts
  e2e/content-services/metadata/metadata-smoke-tests.e2e.ts
  e2e/content-services/permissions/permissions-component.e2e.ts
  e2e/content-services/permissions/site-permissions.e2e.ts
  e2e/content-services/share-file/share-file.e2e.ts
  e2e/content-services/share-file/unshare-file.e2e.ts
  e2e/content-services/social/social.component.e2e.ts
  e2e/content-services/sso/sso-download-directive-component.e2e.ts
  e2e/content-services/tag-component.e2e.ts
  e2e/content-services/trashcan-pagination.e2e.ts
  e2e/content-services/tree-view-component.e2e.ts
  e2e/content-services/upload/cancel-upload.e2e.ts
  e2e/content-services/upload/upload-dialog.ts
  e2e/content-services/upload/uploader-component.e2e.ts
  e2e/content-services/version/version-actions.e2e.ts
  e2e/content-services/version/version-permissions.e2e.ts
  e2e/content-services/version/version-properties.e2e.ts
  e2e/content-services/version/version-smoke-tests.e2e.ts
  e2e/core/infinite-scrolling.e2e.ts
  e2e/core/login/redirection.e2e.ts
  e2e/core/pagination-empty-current-page.e2e.ts
  e2e/core/viewer/file-extensions/viewer-arcive.component.e2e.ts
  e2e/core/viewer/file-extensions/viewer-component.e2e.ts
  e2e/core/viewer/file-extensions/viewer-excel.component.e2e.ts
  e2e/core/viewer/file-extensions/viewer-image.component.e2e.ts
  e2e/core/viewer/file-extensions/viewer-powerpoint.component.e2e.ts
  e2e/core/viewer/file-extensions/viewer-text.component.e2e.ts
  e2e/core/viewer/file-extensions/viewer-word.component.e2e.ts
  e2e/core/viewer/info-drawer.component.e2e.ts
  e2e/core/viewer/viewer-content-services-component.e2e.ts
  e2e/core/viewer/viewer-custom-toolbar-info-drawer.e2e.ts
  e2e/core/viewer/viewer-extension.e2e.ts
  e2e/core/viewer/viewer-properties.e2e.ts
  e2e/core/viewer/viewer-share-content.ts
  e2e/search/components/search-checkList.e2e.ts
  e2e/search/components/search-number-range.e2e.ts
  e2e/search/components/search-radio.e2e.ts
  e2e/search/components/search-slider.e2e.ts
  e2e/search/components/search-sorting-picker.e2e.ts
  e2e/search/search-component.e2e.ts
  e2e/search/search-filters.e2e.ts
  e2e/search/search-multiselect.e2e.ts
  e2e/search/search-page-component.e2e.ts
  lib/content-services/upload/upload.module.ts
  lib/testing/src/lib/content-services/actions/public-api.ts
  lib/testing/src/lib/content-services/actions/upload.actions.ts
  protractor.conf.ts
Labels: e2e

#4857 [ADF-4656] Release note for ADF 3.3 in draft.
  docs/core/services/jwt-helper.service.md
  docs/license-info/license-info-v3.3.0.md
  docs/process-services-cloud/services/task-filter-cloud.service.md
  docs/release-notes/README.md
  docs/release-notes/RelNote320.md
  docs/release-notes/RelNote330.md
  docs/versionIndex.md
Labels: documentation

#4842 [ADF-4519] Attach an ACS content to a form
  lib/process-services-cloud/src/lib/form/components/attach-file-cloud-widget/attach-file-cloud-widget.component.html
  lib/process-services-cloud/src/lib/form/components/attach-file-cloud-widget/attach-file-cloud-widget.component.scss
  lib/process-services-cloud/src/lib/form/components/attach-file-cloud-widget/attach-file-cloud-widget.component.spec.ts
  lib/process-services-cloud/src/lib/form/components/attach-file-cloud-widget/attach-file-cloud-widget.component.ts
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.ts
  lib/process-services-cloud/src/lib/form/components/upload-cloud.widget.html
  lib/process-services-cloud/src/lib/form/components/upload-cloud.widget.ts
  lib/process-services-cloud/src/lib/form/form-cloud.module.ts
  lib/process-services-cloud/src/lib/form/public-api.ts
  lib/process-services-cloud/src/lib/form/services/content-cloud-node-selector.service.ts
  lib/process-services-cloud/src/lib/form/services/process-cloud-content.service.ts
  lib/process-services-cloud/src/lib/task/task-form/components/task-form-cloud.component.ts
Labels: do not merge

#4839 [Staging-branch] 3.4.0
  README.md
  demo-shell/src/app/app.component.scss
  lib/content-services/content-node-selector/content-node-selector-panel.component.scss
  lib/content-services/content-node-selector/name-location-cell/name-location-cell.component.ts
  lib/content-services/document-list/components/document-list.component.scss
  lib/content-services/document-list/components/document-list.component.ts
  lib/core/datatable/components/datatable/datatable.component.scss
  lib/core/toolbar/toolbar.component.scss
  lib/process-services-cloud/src/lib/task/task-filters/components/edit-task-filter-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/task/task-filters/mock/task-filters-cloud.mock.ts
  lib/process-services-cloud/src/lib/task/task-filters/models/filter-cloud.model.ts
Labels: do not merge

#4871 Enabled process-custom-filters-test
  e2e/process-services-cloud/process-custom-filters.e2e.ts
Labels: e2e

#4876 [ADF-4448] Automate Start and Save a task with a form.
  e2e/pages/adf/demo-shell/process-services-cloud/processDetailsCloudDemoPage.ts
  e2e/process-services-cloud/config/start-process-cloud.config.ts
  e2e/process-services-cloud/start-process-cloud.e2e.ts
  e2e/process-services-cloud/start-task-form-cloud.e2e.ts
  lib/testing/src/lib/core/pages/form/widgets/numberWidget.ts
  lib/testing/src/lib/process-services-cloud/pages/start-process-cloud-component.page.ts
  lib/testing/src/lib/process-services-cloud/pages/start-tasks-cloud-component.page.ts
  lib/testing/src/lib/process-services-cloud/pages/task-form-cloud-component.page.ts
  lib/testing/src/lib/process-services-cloud/pages/task-list-cloud-component.page.ts
Labels: e2e

#4872 [ADF-4515] Removing duplicated test and moving other test to the right spec
  e2e/content-services/upload/remove-upload.e2e.ts
  e2e/content-services/upload/upload-dialog.ts
Labels: e2e, waiting for review

#4874 [ADF-4026] - automate process filter results check
  e2e/process-services-cloud/config/edit-process-filter.config.ts
  e2e/process-services-cloud/process-filter-results.e2e.ts
  lib/testing/src/lib/process-services-cloud/pages/process-list-cloud-component.page.ts
Labels: e2e

#4883 [ADF-4687] should pick up default date format from the app config
  e2e/process-services-cloud/task-header-cloud.e2e.ts
Labels: e2e
