Repository Alfresco/alfresco-ng2-components, pull requests merged in 2019-07, with the labels that each got.

#4877 [ADF-4701] Upgrade angular libs
  e2e/content-services/version/version-actions.e2e.ts
  e2e/content-services/version/version-permissions.e2e.ts
  e2e/content-services/version/version-properties.e2e.ts
  e2e/pages/adf/contentServicesPage.ts
  e2e/pages/adf/dialog/uploadToggles.ts
  e2e/pages/adf/versionManagerPage.ts
  e2e/pages/adf/viewerPage.ts
  e2e/process-services-cloud/process-filter-results.e2e.ts
  lib/process-services-cloud/src/lib/process/start-process/components/start-process-cloud.component.spec.ts
  lib/testing/src/lib/core/pages/header.page.ts
  lib/testing/src/lib/core/utils/browser-actions.ts
  lib/testing/src/lib/core/utils/browser-visibility.ts
  lib/testing/src/lib/process-services-cloud/pages/start-process-cloud-component.page.ts
  package-lock.json
  package.json
Labels: waiting for review

#4882 [ADF-4697] attach content to processcloudtaskform using upload widget
  e2e/pages/adf/content-services/breadcrumb/breadCrumbDropdownPage.ts
  e2e/process-services-cloud/start-task-form-cloud.e2e.ts
  e2e/resources/activiti7/candidatebaseapp.zip
  lib/testing/src/lib/content-services/dialog/content-node-selector-dialog.page.ts
  lib/testing/src/lib/core/pages/data-table-component.page.ts
  lib/testing/src/lib/core/pages/form/widgets/attachFileWidgetCloud.ts
  lib/testing/src/lib/core/pages/form/widgets/widget.ts
  lib/testing/src/lib/core/pages/settings.page.ts
  lib/testing/src/lib/process-services-cloud/pages/task-form-cloud-component.page.ts
  lib/testing/src/lib/process-services-cloud/pages/task-list-cloud-component.page.ts
Labels: e2e

#4888 [ADF-4715][ADF-4717] fix process-filter-results random failing tests
  e2e/content-services/metadata/metadata-smoke-tests.e2e.ts
  e2e/process-services-cloud/process-filter-results.e2e.ts
  e2e/process-services/process-instance-details.e2e.ts
  e2e/process-services/task-details.e2e.ts
  e2e/util/constants.js
  lib/process-services-cloud/src/lib/process/process-filters/components/edit-process-filter-cloud.component.ts
  lib/testing/src/lib/process-services-cloud/actions/process-instances.service.ts
Labels: approved

#4901 Changes required to adf-testing
  lib/testing/src/lib/core/pages/login.page.ts
Labels: e2e

#4899 [C297472] Should be able to see selected tasks
  e2e/pages/adf/demo-shell/process-services/tasksCloudDemoPage.ts
  e2e/process-services-cloud/task-list-selection.e2e.ts
Labels: e2e

#4905 Dev gmandakini automate actionmenu for rows
  e2e/content-services/document-list/document-list-actions.e2e.ts
  e2e/content-services/document-list/document-list-copy-move-actions.e2e.ts
  e2e/content-services/document-list/document-list-copy-move.e2e.ts
  e2e/pages/adf/contentServicesPage.ts
  lib/testing/src/lib/core/pages/data-table-component.page.ts
Labels: e2e

#4900 [C310199][C310142]- empty form , required data and invalid form data validations
  e2e/process-services-cloud/task-form-cloud-component.e2e.ts
  e2e/resources/activiti7/candidatebaseapp.zip
  lib/testing/src/lib/core/actions/identity/tasks.service.ts
  lib/testing/src/lib/process-services-cloud/pages/task-form-cloud-component.page.ts
Labels: e2e

#4910 Test cases for Edit Folder Directive
  demo-shell/src/app/components/files/files.component.html
  e2e/content-services/directives/create-folder-directive.e2e.ts
  e2e/content-services/directives/edit-folder-directive.e2e.ts
  e2e/pages/adf/contentServicesPage.ts
  e2e/pages/adf/dialog/createFolderDialog.ts
  e2e/pages/adf/dialog/folderDialog.ts
  lib/testing/src/lib/core/pages/data-table-component.page.ts
  lib/testing/src/lib/core/utils/browser-actions.ts
Labels: e2e

#4912 e2e tests for favourite directive
  demo-shell/src/app/components/files/files.component.html
  e2e/content-services/directives/edit-folder-directive.e2e.ts
  e2e/content-services/directives/favorite-directive.e2e.ts
  e2e/pages/adf/contentServicesPage.ts
  e2e/pages/adf/demo-shell/customSourcesPage.ts
  e2e/pages/adf/trashcanPage.ts
  lib/testing/src/lib/core/pages/data-table-component.page.ts
Labels: e2e

#4915 restore content directive e2e tests
  e2e/content-services/directives/restore-content-directive.e2e.ts
  e2e/pages/adf/contentServicesPage.ts
  e2e/pages/adf/trashcanPage.ts
  lib/testing/src/lib/core/pages/data-table-component.page.ts
  lib/testing/src/lib/core/utils/browser-actions.ts
Labels: e2e

#4886 [ADF-4699] Forms to be used or not used in Standalone tasks
  e2e/process-services-cloud/start-task-form-cloud.e2e.ts
  e2e/resources/activiti7/candidatebaseapp.zip
  lib/testing/src/lib/process-services-cloud/pages/start-tasks-cloud-component.page.ts
Labels: e2e

#4879 [ADF-3993] Automation for Start Task - Group Cloud
  e2e/process-services-cloud/start-task/start-task-custom-app-cloud.e2e.ts
  e2e/process-services-cloud/start-task/start-task-group-cloud.e2e.ts
  lib/testing/src/lib/process-services-cloud/pages/group-cloud-component.page.ts
Labels: e2e, waiting for review

#4937 [ADF-4480] Viewer shows endless spinner for unsupported files
  e2e/core/viewer/viewer-content-services-component.e2e.ts
  e2e/pages/adf/viewerPage.ts
Labels: e2e

#4936 [ADF-4590] - Mark StartTaskCloudService as deprecated
  lib/process-services-cloud/src/lib/task/public-api.ts
  lib/process-services-cloud/src/lib/task/services/start-task-cloud.service.ts
Labels: change requested

#4940 [ADF-4682]The Date is not saved correctly on Process-services form
  e2e/pages/adf/process-services/processDetailsPage.ts
  e2e/pages/adf/process-services/startProcessPage.ts
  e2e/process-services/start-process-component.e2e.ts
  lib/process-services/process-list/components/process-instance-tasks.component.html
  lib/testing/src/lib/core/pages/form/widgets/dateWidget.ts
  lib/testing/src/lib/process-services/pages/public-api.ts
  lib/testing/src/lib/process-services/pages/start-process-dialog.page.ts
Labels: E2E Waiting For Dev Fix, e2e

#4935 [ADF-4716][ADF-3247] Tests for checking saved date format
  e2e/process-services/dynamic-table-date-picker.e2e.ts
  lib/testing/src/lib/core/pages/form/widgets/dynamicTableWidget.ts
Labels: e2e

#4942 Add rightclick method to browseractions
  lib/testing/src/lib/core/pages/data-table-component.page.ts
  lib/testing/src/lib/core/utils/browser-actions.ts
Labels: e2e

#4948 Added the rightclick method to DataTableComponentPage
  lib/testing/src/lib/core/pages/data-table-component.page.ts
Labels: e2e

#4953 added back the missing candidatebaseapp
  e2e/resources/activiti7/candidatebaseapp.zip
Labels: e2e

#4943 [ADF-4572] Display value widget display issue when it has no value
  e2e/process-services/form-widgets-component.e2e.ts
  lib/core/form/services/form-rendering.service.spec.ts
  lib/core/form/services/form-rendering.service.ts
  lib/testing/src/lib/core/pages/form/widgets/displayValueWidget.ts
  lib/testing/src/lib/core/pages/form/widgets/widget.ts
Labels: change requested
