Repository Alfresco/alfresco-ng2-components, pull requests merged in 2019-04, with the labels that each got.

#4526 [ADF-PeopleCloudComponent] Fixed failing unit tests
  lib/process-services-cloud/src/lib/task/start-task/components/people-cloud/people-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/task/start-task/components/people-cloud/people-cloud.component.ts
  lib/process-services-cloud/src/lib/task/task-header/components/task-header-cloud.component.spec.ts
Labels: Failing tests, needs rebase

#4553 [ADF-4356] Added Activiti 7 tutorial after review
  docs/tutorials/README.md
  docs/tutorials/activiti-7-and-adf.md
  docs/user-guide/summary.json
Labels: documentation

#4559 Update of the Activiti 7 tutorial after some new tests.
  docs/tutorials/activiti-7-and-adf.md
Labels: documentation

#4564 [ADF-4285] Removed incorrect example from content metadata docs
  docs/content-services/components/content-metadata-card.component.md
Labels: documentation

#4474 [ADF-4275] - Fix preselect user validation for User Id
  lib/process-services-cloud/src/lib/task/start-task/components/people-cloud/people-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/task/start-task/components/people-cloud/people-cloud.component.ts
Labels: waiting for review

#4547 [ADF-4272] TaskListCloud - improvements on CopyClipboardDirective
  demo-shell/resources/i18n/en.json
  demo-shell/src/app/components/datatable/datatable.component.html
  docs/core/components/datatable.component.md
  docs/core/directives/clipboard.directive.md
  lib/content-services/content-node-share/content-node-share.dialog.html
  lib/content-services/document-list/components/document-list.component.scss
  lib/core/clipboard/clipboard.directive.spec.ts
  lib/core/clipboard/clipboard.directive.ts
  lib/core/clipboard/clipboard.module.ts
  lib/core/clipboard/clipboard.service.ts
  lib/core/data-column/data-column.component.ts
  lib/core/datatable/components/datatable/datatable-cell.component.ts
  lib/core/datatable/components/datatable/datatable.component.html
  lib/core/datatable/components/datatable/datatable.component.scss
  lib/core/datatable/data/data-column.model.ts
  lib/core/datatable/data/object-datacolumn.model.ts
  lib/core/datatable/datatable.module.ts
  lib/process-services-cloud/src/lib/task/directives/claim-task.directive.spec.ts
  lib/process-services-cloud/src/lib/task/task-list/components/task-list-cloud.component.spec.ts
Labels: do not merge

#4578 [ADF-4216] Recently uploaded files are missing 'ago' in the Created column
  e2e/content-services/document-list/document-list-component.e2e.ts
  e2e/process-services/comment-component-processes.e2e.ts
  e2e/process-services/comment-component-tasks.e2e.ts
Labels: e2e

#4548 [ADF-3934] PeoplCloudComponent - add dynamic placeholder
  demo-shell/src/app/components/cloud/people-groups-cloud-demo.component.html
  docs/process-services-cloud/components/people-cloud.component.md
  lib/process-services-cloud/src/lib/task/start-task/components/people-cloud/people-cloud.component.html
  lib/process-services-cloud/src/lib/task/start-task/components/people-cloud/people-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/task/start-task/components/people-cloud/people-cloud.component.ts
  lib/process-services-cloud/src/lib/task/start-task/components/start-task-cloud.component.html
Labels: do not merge

#4580 [ADF-4367] Automation for process date format
  e2e/process-services/process-instance-details.e2e.ts
Labels: e2e

#4586 [ADF-4383] Updated filter props details in Edit proc cloud docs
  docs/process-services-cloud/components/edit-process-filter-cloud.component.md
Labels: documentation

#4581 [ADF-4373] Automation test for accurate error messages
  e2e/core/error-component.e2e.ts
Labels: e2e

#4550 [ADF-4354]Fix cloud tests one by one
  e2e/process-services-cloud/process-custom-filters.e2e.ts
  e2e/process-services-cloud/process-header-cloud.e2e.ts
  e2e/process-services-cloud/processList-cloud-component.e2e.ts
  e2e/process-services-cloud/start-task-custom-app-cloud.e2e.ts
  e2e/process-services-cloud/task-filters-cloud.e2e.ts
  e2e/process-services-cloud/task-header-cloud.e2e.ts
  e2e/util/constants.js
  lib/testing/src/lib/process-services-cloud/pages/edit-process-filter-cloud-component.page.ts
  lib/testing/src/lib/process-services-cloud/pages/start-tasks-cloud-component.page.ts
Labels: e2e

#4535 [ADF-4278][ADF-4277] - Should fetch the preselect users
  demo-shell/src/app/components/cloud/people-groups-cloud-demo.component.html
  e2e/pages/adf/demo-shell/process-services/peopleGroupCloudComponentPage.ts
  e2e/process-services-cloud/people-group-cloud-component.e2e.ts
  lib/testing/src/lib/core/actions/identity/group-identity.service.ts
  lib/testing/src/lib/core/actions/identity/identity.service.ts
  lib/testing/src/lib/core/actions/identity/roles.service.ts
  lib/testing/src/lib/core/models/user.model.ts
  lib/testing/src/lib/process-services-cloud/pages/group-cloud-component.page.ts
  lib/testing/src/lib/process-services-cloud/pages/people-cloud-component.page.ts
Labels: e2e

#4594 [ADF-4391] Removed duplicate title in Form Cloud service docs
  docs/process-services-cloud/services/form-cloud.service.md
Labels: documentation

#4591 [ADF-4274] Should be able to reassign the removed user when starting a new task.
  e2e/process-services-cloud/start-task-custom-app-cloud.e2e.ts
  lib/testing/src/lib/core/actions/identity/tasks.service.ts
Labels: e2e

#4588 [ADF-4311] - ProcessCloud - Incorrect label loaded for unclaim option -> "Resqueue" should be "Release"
  e2e/pages/adf/demo-shell/process-services/taskDetailsCloudDemoPage.ts
  e2e/process-services-cloud/start-task-custom-app-cloud.e2e.ts
  e2e/process-services-cloud/task-header-cloud.e2e.ts
  lib/testing/src/lib/process-services-cloud/pages/task-header-cloud-component.page.ts
Labels: e2e

#4597 [ADF-4260] Re-adding upgrade guide 3.0 -> 3.1
  docs/upgrade-guide/upgrade30-31.md
Labels: documentation

#4601 [ADF-4391] Doc review for 3.2
  docs/README.md
  docs/core/components/data-column.component.md
  docs/core/components/datatable.component.md
  docs/core/components/json-cell.component.md
  docs/core/directives/clipboard.directive.md
  docs/core/services/clipboard.service.md
  docs/process-services-cloud/claim-task.directive.md
  docs/process-services-cloud/components/form-cloud.component.md
  docs/process-services-cloud/services/form-cloud.service.md
  docs/process-services-cloud/unclaim-tas.directie.md
  lib/core/clipboard/clipboard.directive.ts
  lib/core/clipboard/clipboard.service.ts
  lib/core/data-column/data-column.component.ts
  lib/core/datatable/components/datatable/datatable-cell.component.ts
  lib/process-services-cloud/src/lib/form/services/form-cloud.service.ts
  tools/doc/doctool.config.json
Labels: documentation

#4630 [ADF-4394]Add two more tests on copyContent
  demo-shell/src/app/components/datatable/copy-content/datatable.component.html
  demo-shell/src/app/components/datatable/copy-content/datatable.component.ts
  e2e/core/datatable/data-table-component.e2e.ts
  e2e/pages/adf/contentServicesPage.ts
  e2e/pages/adf/demo-shell/customSourcesPage.ts
  e2e/pages/adf/demo-shell/dataTablePage.ts
  e2e/pages/adf/permissionsPage.ts
  e2e/pages/adf/searchResultsPage.ts
  lib/core/datatable/components/datatable/datatable.component.html
  lib/testing/src/lib/core/pages/data-table-component.page.ts
  lib/testing/src/lib/process-services-cloud/pages/task-list-cloud-component.page.ts
Labels: e2e

#4641 [ADF-4416] Added upgrade guide 3.1 -> 3.2
  docs/upgrade-guide/upgrade31-32.md
Labels: documentation

#4584 [ADF-4310]Added sort tests for edit task filter cloud component
  e2e/pages/adf/demo-shell/process-services/tasksCloudDemoPage.ts
  e2e/process-services-cloud/task-list-properties.e2e.ts
  e2e/process-services-cloud/taskListCloud.config.ts
  e2e/process-services-cloud/tasks-custom-filters.e2e.ts
  lib/testing/src/lib/process-services-cloud/pages/task-list-cloud-component.page.ts
Labels: e2e

#4537 [ADF-4028][ADF-4047]Add process list cloud selection tests
  demo-shell/resources/i18n/en.json
  demo-shell/src/app/components/cloud/cloud-settings.component.html
  demo-shell/src/app/components/cloud/cloud-settings.component.ts
  demo-shell/src/app/components/cloud/processes-cloud-demo.component.ts
  demo-shell/src/app/components/cloud/services/cloud-layout.service.ts
  e2e/content-services/document-list/document-list-properties.e2e.ts
  e2e/pages/adf/contentServicesPage.ts
  e2e/pages/adf/demo-shell/process-services/processCloudDemoPage.ts
  e2e/pages/adf/demo-shell/process-services/tasksCloudDemoPage.ts
  e2e/process-services-cloud/process-list-selection-cloud.e2e.ts
  lib/testing/src/lib/process-services-cloud/pages/process-list-cloud-component.page.ts
Labels: e2e

#4639 [ADF-4128]Add complete task tests
  e2e/pages/adf/demo-shell/process-services/taskDetailsCloudDemoPage.ts
  e2e/process-services-cloud/task-form-cloud-component.e2e.ts
  lib/testing/src/lib/process-services-cloud/pages/public-api.ts
  lib/testing/src/lib/process-services-cloud/pages/task-form-cloud-component.page.ts
Labels: e2e

#4583 [ADF-4227] Sidenav Layout - support direction
  demo-shell/src/app/app.component.html
  demo-shell/src/app/app.component.ts
  demo-shell/src/app/app.routes.ts
  demo-shell/src/app/components/app-layout/app-layout.component.html
  demo-shell/src/app/components/app-layout/app-layout.component.ts
  docs/core/components/sidenav-layout.component.md
  docs/user-guide/rtl-support.md
  e2e/core/viewer/viewer-properties.e2e.ts
  e2e/pages/adf/navigationBarPage.ts
  lib/core/layout/components/sidenav-layout/sidenav-layout.component.html
  lib/core/layout/components/sidenav-layout/sidenav-layout.component.scss
  lib/core/layout/components/sidenav-layout/sidenav-layout.component.spec.ts
  lib/core/layout/components/sidenav-layout/sidenav-layout.component.ts
Labels: Failing tests

#4596 [ADF-4388]Added edit task filter cloud component - taskId filter tests
  e2e/process-services-cloud/task-list-properties.e2e.ts
  lib/testing/src/lib/process-services-cloud/pages/edit-task-filter-cloud-component.page.ts
  lib/testing/src/lib/process-services-cloud/pages/task-list-cloud-component.page.ts
Labels: e2e, needs rebase

#4655 [ADF-4447] - Should be able to choose which aspect to show expanded in the info-drawer
  e2e/content-services/metadata/metadata-properties.e2e.ts
  e2e/pages/adf/metadataViewPage.ts
Labels: e2e

#4612 [ADF-4407] Automate test for user without permission redirection
  e2e/core/auth-guard/auth-guard-sso.e2e.ts
Labels: e2e

#4657 [ADF-4451] Automate Event handling during header row action.
  demo-shell/src/app/components/datatable/drag-and-drop/datatable-dnd.component.html
  e2e/core/datatable/data-table-component.e2e.ts
  e2e/pages/adf/demo-shell/dataTablePage.ts
  e2e/pages/adf/navigationBarPage.ts
Labels: e2e

#4671 automated ADF-4198 - Escape key doesn't work to close the user profil…
  e2e/core/user-info-component-cloud.e2e.ts
  e2e/core/user-info-component.e2e.ts
Labels: e2e
